//Contact, create estb
.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

//Contact page
.contact-label {
    font-family: "trade-gothic-next", sans-serif;
    font-style: normal;
    font-size: 18px;
}

small {
    color: #ff0d00ba;
  }