.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-label {
    font-family: "trade-gothic-next", sans-serif;
    font-style: normal;
    font-size: 18px;
}