//Contact, create estb, book hotel
.align-center {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

//Contact page
.form-label {
    font-family: "trade-gothic-next", sans-serif;
    font-style: normal;
    font-size: 18px;
}

.form-message {
    color: #b91515ba;
}