.btn {
    background-color: $background-color;
    border: $background-color;
}

.search-header {
    color: $header;
}

.border {
    border-color: $background-color;
}


.scale {
    width: 60%;
}

.search {
    border-color: $background-color;
}

.margin {
    margin-top: 2em;
}