.button {
    background-color: $button;
    font-family: "trade-gothic-next", sans-serif;
    font-style: normal;
    font-size: 20px;
}

.button:hover {
    box-shadow: 0 8px 20px $button;
    background-color: $button;
}

.header {
    color: $header;
}

