.login-label {
    font-family: "trade-gothic-next", sans-serif;
    font-style: normal;
    font-size: 20px;
    color: $header;
}

.login-input {
    border-color: $background-color;
    border-radius: 1px;
}